<section class="hero is-success is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">

<form action="/admin/principal/en/edit" method="POST">
  <div class="section-heading">
  </div>
  <div id="forma" class="box">

    <div class="field">
    <label for="plan_basico" class="label">Plan Básico</label>
    <div class="control">
    <input value="{{indice.plan_basico}}" class="input" type="number" placeholder="plan basico" name="plan_basico">
    </div>
    </div>

    <div class="field">
    <label for="plan_pro" class="label">Plan Pro</label>
    <div class="control">
    <input value="{{indice.plan_pro}}" class="input" type="number" placeholder="plan pro" name="plan_pro">
    </div>
    </div>

    <div class="field">
    <label for="plan_empresa" class="label">plan empresa</label>
    <div class="control">
    <input value="{{indice.plan_empresa}}" class="input" type="text" placeholder="plan empresa" name="plan_empresa">
    </div>
    </div>

    <div class="field">
    <label for="title" class="label">title</label>
    <div class="control">
    <input value="{{indice.title}}" class="input" type="text" placeholder="title" name="title">
    </div>
    </div>

    <div class="field">
    <label for="subtitle" class="label">subtitle</label>
    <div class="control">
    <input value="{{indice.subtitle}}" class="input" type="text" placeholder="subtitle" name="subtitle">
    </div>
    </div>

    <div class="field">
    <label for="b1_title" class="label">b1_title</label>
    <div class="control">
    <input value="{{indice.b1_title}}" class="input" type="text" placeholder="b1_title" name="b1_title">
    </div>
    </div>

    <div class="field">
    <label for="b1_subtitle" class="label">b1_subtitle</label>
    <div class="control">
    <input value="{{indice.b1_subtitle}}" class="input" type="text" placeholder="b1_subtitle" name="b1_subtitle">
    </div>
    </div>

    <div class="field">
    <label for="b2_title" class="label">b2_title</label>
    <div class="control">
    <input value="{{indice.b2_title}}" class="input" type="text" placeholder="b2_title" name="b2_title">
    </div>
    </div>

    <div class="field">
    <label for="b2_subtitle" class="label">b2_subtitle</label>
    <div class="control">
    <input value="{{indice.b2_subtitle}}" class="input" type="text" placeholder="b2_subtitle" name="b2_subtitle">
    </div>
    </div>

    <div class="field">
    <label for="b3_title" class="label">b3_title</label>
    <div class="control">
    <input value="{{indice.b3_title}}" class="input" type="text" placeholder="b3_title" name="b3_title">
    </div>
    </div>

    <div class="field">
    <label for="b3_subtitle" class="label">b3_subtitle</label>
    <div class="control">
    <input value="{{indice.b3_subtitle}}" class="input" type="text" placeholder="b3_subtitle" name="b3_subtitle">
    </div>
    </div>

    <div class="field is-grouped">
    <div class="control">
    <button type="submit" class="button is-link is-large is-danger">
    <span class="icon has-text-warning">
    <i class="fas fa-envelope"></i>
    </span>
    <span>Editar</span>
    </button>
    </div>
    </div>

  </div>
</form>

        </div>
    </div>
</section>